<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054913270809-3c1bipsabva2sk7s9m11aserkpj5kvql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054913270809-3c1bipsabva2sk7s9m11aserkpj5kvql</string>
	<key>API_KEY</key>
	<string>AIzaSyANq-AEboyrcJgrrCQialuxzbi8RbrCI_c</string>
	<key>GCM_SENDER_ID</key>
	<string>1054913270809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leo.sunibcurhat</string>
	<key>PROJECT_ID</key>
	<string>sunib-curhat</string>
	<key>STORAGE_BUCKET</key>
	<string>sunib-curhat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054913270809:ios:ad244eafa6eb60e3</string>
	<key>DATABASE_URL</key>
	<string>https://sunib-curhat.firebaseio.com</string>
</dict>
</plist>