<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Netijen Curhat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9947251997620985~4316262809</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to capture and send photos in real-time during your conversations. You&apos;ll be able to take photos directly within the app and share them instantly. Rest assured, we will only use your camera when you actively choose to take a photo within the app.</string>
	<key>NSContactsUsageDescription</key>
	<string>We request permission to access your contacts to facilitate sharing feeds and connecting with friends within the app. With access to your contacts, you can easily share updates, or other contents with your friends and contacts directly from within the app. Rest assured, we respect your privacy and will only access your contacts when you choose to share content with specific individuals or groups.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To send photos from your device&apos;s photo library, we require access to it. This allows you to select existing photos stored on your device and share them seamlessly during chats. We respect your privacy and assure you that we will only access your photo library when you opt to choose a photo to send.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We request permission to send you notifications to keep you updated on new messages, important alerts, and other relevant information. With notifications enabled, you&apos;ll never miss a message, ensuring you stay connected and informed even when the app is not actively in use.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<string>true</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
</dict>
</plist>
